<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675434096939-098pil79u3omrvqv49fu4tvm81i9877l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675434096939-098pil79u3omrvqv49fu4tvm81i9877l</string>
	<key>API_KEY</key>
	<string>AIzaSyAT0FWQfruR8IQmUOAYDfcqjNna6beqXQM</string>
	<key>GCM_SENDER_ID</key>
	<string>675434096939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Angga-danen.Login-page</string>
	<key>PROJECT_ID</key>
	<string>swiftui-50c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-50c2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675434096939:ios:4627067c3cca2b24f37d6e</string>
</dict>
</plist>