<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958640893439-3kcpk0mkacdacoijeacjoguqkcforqpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958640893439-3kcpk0mkacdacoijeacjoguqkcforqpt</string>
	<key>API_KEY</key>
	<string>AIzaSyDTfeG2zX3e5-plhLT68jWSnHUNW9g2srQ</string>
	<key>GCM_SENDER_ID</key>
	<string>958640893439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnggaDanen.FinalprojectAD</string>
	<key>PROJECT_ID</key>
	<string>ad-apps-41f13</string>
	<key>STORAGE_BUCKET</key>
	<string>ad-apps-41f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958640893439:ios:02d1cd7529b077436e8bca</string>
</dict>
</plist>